/* Custom CSS */
.list { margin: 15px;}

.list input[type=text] {width: 100%;}

.list:before, {
    content:"";
    font-size: 1.5em;
    margin: 0.83em 0;
}

.summary {
    text-align: right;
    border-bottom: none !important;
}

.errord {
  padding:0 0 2% 2%;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
}

@media print {
    .article {
        border: 0;
    }

}