$def with (cart_id, hashEmail, data)
English message will follow.

Votre confirmation d'inscription...

Merci de vous être pré-inscrit à G-Anime 2013.
Vous pouvez imprimer votre confirmation en cliquant sur le lien ci-dessous.

$homeAddr/validate/$cart_id/email/$hashEmail

Veuillez présenter cette confirmation et une pièce d'identité valide pour obtenir votre insigne de G-Anime.
Nous vous rappelons que tout enfant de 12 ans et moins doit être accompagné par un adulte.

--------------------------------------------

Your pre-registration confirmation...

Thank you for pre-registratering to G-Anime 2013.
You may print out your confirmation by clicking on the link below.

$homeAddr/validate/$cart_id/email/$hashEmail

To obtain your G-Anime badge, you will need to present this confirmation and a valid ID.
We remind you that all kids 12 year old and under must be accompanied by an adult.

--------------------------------------------
txn: $data["txn"]
email: $data["email"]