$def with (form)

<article class="clearfix">
<form name="main" method="post">
<div class="col_100">

$if not form.valid: <div class="warning">Une erreur est survenue.</div>

<table class="table">
$for input in form.inputs:
    <tr>
    <th>
    $:input.description
    </th>
    <td>
    $:input.render()
    </td>
    </tr>
<table>
<p>Les enfants de 12 ans et moins doivent être accompagnés par un adulte.<br />
Kids 12 and under must be accompanied by an adult.</p>
</div>

<div class="col_100">
<a href="$homeAddr" class="button negative" style="font-size:18px; float:left;">Annuler ~ Cancel</a>
<button type="submit" class="positive" name="add" style="font-size: 18px; line-height:24px; float: right">Ajouter ~ Add</button>
</div>

</div>
</form>
</article>