$def with (form)

<article class="clearfix">
<div class="col_100">
<form name="main" method="post">
$if not form.valid: <p class="error">Une erreur est survenue.</p>
$:form.render()
<p>Les enfants de 12 ans et moins doivent être accompagnés par un adulte.<br />
Kids 12 and under must be accompanied by an adult.</p>
<div id="bottom">
<a href="$homeAddr" class="button negative" style="font-size:18px; float:left;">Annuler ~ Cancel</a>
<button type="submit" class="positive" name="add" style="font-size: 18px; line-height:24px; float: right">Ajouter ~ Add</button>
</div>
</form>
</div>
</article>