$def with (page, title=None, minimal=False)
<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>
<meta charset="UTF-8" />
<title>$title</title>
<link rel="stylesheet" type="text/css" media="all" href="$homeAddr/static/style.css" />
<meta name="viewport" content="width=760px, initial-scale=1.0"/>
</head>
<body>
<div id="wrapper">
$if minimal:
    <div id="header" style="height: 50px;">
    <h1>Pré-inscription ~ Preregistration</h1>
    <p>G-Anime 2013</p>
$else:
    <div id="header">
    <h1>Pré-inscription ~ Preregistration</h1>
    <p>Bienvenue au site de préinscription à G-Anime 2013. Pour plus d'information sur G-Anime, allez sur le <a href="http://ganime.ca/2013">site web officiel du festival</a>. Notez que le courriel de confirmation sera envoyé à votre courriel PayPal. Si vous voulez également vous inscrire au concert de NOIZ, qui aura lieu le vendredi, visitez le site web de préinscription (mettre l'hyperlien au site de Noiz sur site web de préinscription) au concert de NOIZ.</p>
    <p>Welcome, here you may pre-register for G-Anime 2013. For more information on G-Anime, take a look at <a href="http://ganime.ca/2013">the official website</a>. Please note that the confirmation email will be sent to your PalPal email address. If you also wish to register for the NOIZ concert on Friday, please visit the NOIZ registration page here.</p>
</div><!-- #header -->
<div id="main">
<div id="content" role="main">
$:page
</div><!-- #content -->
</div><!-- #main -->
</div><!-- #wrapper -->
</body>
</html>
