$def with (cart_id, items, messageInfo=None)

<form target="paypal" action="$paypalUrl/cgi-bin/webscr" method="POST">
<input type="hidden" name="cmd" value="_cart" />
<input type="hidden" name="upload" value="1" />
<input type="hidden" name="business" value="$paypalAccount" />
<input type="hidden" name="currency_code" value="CAD" />
<input type="hidden" name="invoice" value="$cart_id" />

<article class="article clearfix">

$if messageInfo:
    <div class="col_100">
    $if messageInfo[0] == "add":
        <div class="success">
        L'insigne à été ajouté avec succès.
    $if messageInfo[0] == "update":
        <div class="success">
        L'insigne à été modifié avec succès.
    $if messageInfo[0] == "del":
        <div class="warning">
        L'insigne à été supprimé avec succès.
    </div></div>

<div class="col_33">
<p>Bienvenue au site de préinscription à G-Anime 2013. Pour plus d'information sur G-Anime, allez sur le <a href="http://ganime.ca/2013">site web officiel du festival</a>. Notez que le courriel de confirmation sera envoyé à votre courriel PayPal. <strong>Si vous voulez également vous inscrire au concert de NOIZ, qui aura lieu le vendredi, ajouter le billet dans le formulaire d'un insigne</strong>.</p>
<p>Welcome, here you may pre-register for G-Anime 2013. For more information on G-Anime, take a look at <a href="http://ganime.ca/2013">the official website</a>. Please note that the confirmation email will be sent to your PalPal email address. <strong>If you also wish to register for the NOIZ concert on Friday, add the option in the badge form</strong>.</p>
</div>
<div class="col_66">
<h2>Your cart ~ Votre panier</h2>
$if items:
    <table class="table">
    $for item in items:
        $:render.item(item, loop.index)
    </table>
    <div style="float: left;"><a class="button" href="$homeAddr/badge">Ajouter un nouvel insigne ~ Add a new badge</a></div>
$else:
    <table><tr><th style="text-align: center"><a href="badge" style="font-size:16px;" class="positive button">Ajouter un insigne ~ Add a badge</a></th></tr></table>
</div>
</article>

<article class="article clearfix">
<div class="col_100">
$if items:
    <input type="hidden" name="return" value="$homeAddr/merci" />
    <input type="hidden" name="cancel_return" value="$homeAddr/annulee" />
    <input type="hidden" name="notify_url" value="$homeAddr/callback" />
    <div id="paypal" style="float: right;"><input type="image" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif">
    </div>
</div>
</article>
</form>